aiofiles==23.1.0
aiogram==3.0.0b7
aiogram-media-group==0.5.1
aiohttp==3.8.4
aioschedule==0.5.2
alembic==1.11.1
asyncpg==0.27.0
fastapi==0.89.1
ffmpeg==1.4
greenlet==2.0.2
magic-filter==1.0.9
Mako==1.2.4
Markdown==3.4.1
openai==0.27.4
pydantic==1.10.7
pydub==0.25.1
sqladmin==0.10.3
SQLAlchemy==2.0.13
starlette==0.22.0
urllib3==1.26.14
uvicorn==0.20.0